
.mytheme{
	float:right;
}
.mypd{
	padding-left:-20px;
	padding-right: 20px;
}

.cpy
{
	width: 60%;
	float: right;
}


.bg-image{
	background-image: url('../img/light2.jpg');
	border-radius: 5px;
	max-width: 100%;
	height: auto;
	display: block;
}
.lbl{
	float: left;
	color: #0c0f26;
	font-family: sans-serif;
}
.butn{
	width: 100px;
	font-size: 18px;
	float: right;
}
.invalid{
	color: red;
}
.border{
	border-spacing: 0.1px;
	border-color: #ccc;
	border-style: solid;
	border-radius: 10px;
	background-color: #eee;
}
.mybdy
{
	margin: 0 auto;
	padding: 0;
	height: 74.779%;
}
 
.margin
{
	margin-top: 100px;

}
.address-box{
	height: 100px;
}
.required::after
{
	content: "*";
	color: red;
	position: absolute;
	top:4px;
}
.year,.branch{
	width: 120px;
}
.student{
	color: navy blue;
	font-size: 25px;
}
.para{
	color: red;
}
.mynav{
	position: relative;
  min-height: 50px;
  border: 1px solid transparent;
}
.mysidebar{
	background-color:#aaa;
}
.myjumbo{
	 padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  margin-bottom: 15px;
  border-top-color: #d5d5d5;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
  max-width: 100%;
  padding-top: 48px;
    padding-bottom: 48px;
	 padding-right: 60px;
    padding-left: 60px;
}
.mybtn{
	.button {
    background-color: #8E4585; /* Plum */
    border: none;
    color: white;
    padding: 10px 22.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 4px;
}

}